.friend-row {
    margin-bottom: 1.4rem;
    box-sizing: border-box;
    padding: 0.2rem 0.4rem 0.2rem 0.3rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr 1fr;
    background-color: #043f4f;
    border-radius: 0.6rem;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.friend-pfp {
    margin-right: 0.3rem;
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
    border-radius: 0.1rem;
}
.friend-username {
    margin: 0.5rem 0.1rem 0rem 0rem;
    font-size: 1.0rem;
    font-weight: 400;
    line-height: 1.3625;
    color: #ffffff;
    font-family: Noto Sans, 'Source Sans Pro';
    vertical-align: middle;
}
.friend-action-icon {
    width: 1.1rem;
    height: 1.1rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
}
.friend-action-button {
    background-color: #043f4f;
    border-width: 0;
    width: auto;
    height: auto;
}