.friend-row {
    margin-bottom: 2.9rem;
    box-sizing: border-box;
    padding: 0.4rem 0.8rem 0.4rem 0.6rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #043f4f;
    border-radius: 0.6rem;
    flex-shrink: 0;
}
.friend-pfp {
    margin-right: 0.7rem;
  width: 4.9rem;
  height: 4.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.friend-username {
    margin: 0.1rem 4.2rem 0rem 0rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.3625;
    color: #ffffff;
    font-family: Noto Sans, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.friend-flag {
    margin: 0.1rem 0.7rem 0rem 0rem;
    width: 2.2rem;
    height: 2.2rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
}
.friend-message {
    margin-top: 0.1rem;
    width: 2.2rem;
    height: 2.2rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
}