<div class="quiz-screen">
    <div class="sidebar-container">
        <div class="sidebar-logo-container">
          <img class="sidebar-logo" src="../assets/images/widelogo.png"/>
        </div>
        <div class="sidebar-options-container">
          <div class="sidebar-current-user">
            <p class="current-user-name">User1234</p>
          </div>
          <button class="sidebar-menu-option">
            <img class="sidebar-menu-option-icon" src="../assets/images/signout.png"/>
            <div class="sidebar-menu-option-div">
            </div>
            <p class="sidebar-menu-option-txt">Sign out</p>
          </button>
        </div>
    </div>
    <div class="quiz-container">
        <p class="quiz-header left-margin">Behavior Test</p>
        <p class="quiz-text left-margin">Before you can use MATCHMAKR, please answer these questions so we know you are a real person.</p>
        <form class="left-margin">
            <div class="question-container">
                <p class="quiz-text left-margin">You regularly make new friends.</p>
                <div class="radios-container left-margin">
                    <div class="quiz-text">Disagree</div>
                    <input type="radio" id="q1o1" name="q1">
                    <input type="radio" id="q1o2" name="q1">
                    <input type="radio" id="q1o3" name="q1">
                    <input type="radio" id="q1o4" name="q1">
                    <input type="radio" id="q1o5" name="q1">
                    <input type="radio" id="q1o6" name="q1">
                    <div class="quiz-text">Agree</div>
                </div>
            </div>
            <div class="question-container">
                <p class="quiz-text left-margin">You spend a lot of your free time exploring various random topics that pique your interest.</p>
                <div class="radios-container left-margin">
                    <div class="quiz-text">Disagree</div>
                    <input type="radio" id="q2o1" name="q2">
                    <input type="radio" id="q2o2" name="q2">
                    <input type="radio" id="q2o3" name="q2">
                    <input type="radio" id="q2o4" name="q2">
                    <input type="radio" id="q2o5" name="q2">
                    <input type="radio" id="q2o6" name="q2">
                    <div class="quiz-text">Agree</div>
                </div>
            </div>
            <div class="question-container">
                <p class="quiz-text left-margin">Seeing other people cry can make you feel like you want to cry too.</p>
                <div class="radios-container left-margin">
                    <div class="quiz-text">Disagree</div>
                    <input type="radio" id="q3o1" name="q3">
                    <input type="radio" id="q3o2" name="q3">
                    <input type="radio" id="q3o3" name="q3">
                    <input type="radio" id="q3o4" name="q3">
                    <input type="radio" id="q3o5" name="q3">
                    <input type="radio" id="q3o6" name="q3">
                    <div class="quiz-text">Agree</div>
                </div>
            </div>
            <div class="question-container">
                <p class="quiz-text left-margin">At events, you rarely introduce yourself to new people and mostly talk to your friends.</p>
                <div class="radios-container left-margin">
                    <div class="quiz-text">Disagree</div>
                    <input type="radio" id="q4o1" name="q4">
                    <input type="radio" id="q4o2" name="q4">
                    <input type="radio" id="q4o3" name="q4">
                    <input type="radio" id="q4o4" name="q4">
                    <input type="radio" id="q4o5" name="q4">
                    <input type="radio" id="q4o6" name="q4">
                    <div class="quiz-text">Agree</div>
                </div>
            </div>
            <div class="question-container">
                <p class="quiz-text left-margin">You are more inclined to follow your head than your heart.</p>
                <div class="radios-container left-margin">
                    <div class="quiz-text">Disagree</div>
                    <input type="radio" id="q5o1" name="q5">
                    <input type="radio" id="q5o2" name="q5">
                    <input type="radio" id="q5o3" name="q5">
                    <input type="radio" id="q5o4" name="q5">
                    <input type="radio" id="q5o5" name="q5">
                    <input type="radio" id="q5o6" name="q5">
                    <div class="quiz-text">Agree</div>
                </div>
            </div>
            <div class="question-container">
                <p class="quiz-text left-margin">You rarely worry about whether you make a good impression on everyday people you meet.</p>
                <div class="radios-container left-margin">
                    <div class="quiz-text">Disagree</div>
                    <input type="radio" id="q6o1" name="q6">
                    <input type="radio" id="q6o2" name="q6">
                    <input type="radio" id="q6o3" name="q6">
                    <input type="radio" id="q6o4" name="q6">
                    <input type="radio" id="q6o5" name="q6">
                    <input type="radio" id="q6o6" name="q6">
                    <div class="quiz-text">Agree</div>
                </div>
            </div>
            <div class="question-container">
                <p class="quiz-text left-margin">You enjoy participating in group activities that require teamwork.</p>
                <div class="radios-container left-margin">
                    <div class="quiz-text">Disagree</div>
                    <input type="radio" id="q7o1" name="q7">
                    <input type="radio" id="q7o2" name="q7">
                    <input type="radio" id="q7o3" name="q7">
                    <input type="radio" id="q7o4" name="q7">
                    <input type="radio" id="q7o5" name="q7">
                    <input type="radio" id="q7o6" name="q7">
                    <div class="quiz-text">Agree</div>
                </div>
            </div>
            <div class="question-container">
                <p class="quiz-text left-margin">You enjoy watching people argue, as long as you’re not a part of the argument.</p>
                <div class="radios-container left-margin">
                    <div class="quiz-text">Disagree</div>
                        <input type="radio" id="q8o1" name="q8">
                        <input type="radio" id="q8o2" name="q8">
                        <input type="radio" id="q8o3" name="q8">
                        <input type="radio" id="q8o4" name="q8">
                        <input type="radio" id="q8o5" name="q8">
                        <input type="radio" id="q8o6" name="q8">
                    <div class="quiz-text">Agree</div>
                </div>
            </div>
            
            <input class="quiz-submit" type="submit" value="Submit">
        </form>
    </div>
</div>