  <div class="login-div">
    <img class="login-backdrop" src="../assets/images/backdrop.png"/>
    <div class="login-logo-div">
        <img class="login-logo-img" src="../assets/images/logohd.png"/>
    </div>
    <div class="action-widget">
      <div class="login-form-container">
        <p class="login-label">Ready to play?</p>
        <br/>
        <p class="login-label">Please log in.</p>
        <form>
          <input class="login-input-field" type="text" id="email" name="email" placeholder="Email">
          <br/>
          <input class="login-input-field" type="password" id="password" name="password" placeholder="Password">
          <img class="login-unmask" src="../assets/images/eye.png" alt="Show password"/>
          <br/>
          <input class="login-submit" type="submit" value="Log in">
          <img class="login-submit-arrow" src="../assets/images/next.png" alt=""/>
        </form>
        <a class="login-link" href="signup">Sign up</a>
        <a class="login-link" href="forgot">Forgot password?</a>  
      </div>
    </div>
  </div>