<div class="signup-div">
    <img class="signup-backdrop" src="../assets/images/backdrop.png"/>
    <div class="signup-logo-div">
        <img class="signup-logo-img" src="../assets/images/logohd.png"/>
    </div>
    <div class="action-widget">
      <div class="signup-form-container">
        <p class="signup-label">Sign up</p>
        <br/>
        <p class="signup-label">Sign up to get started!</p>
        <form>
          <input class="signup-input-field" type="text" id="email" name="email" placeholder="Email">
          <br/>
          <input class="signup-input-field" type="password" id="password" name="password" placeholder="Password">
          <img class="signup-unmask" src="../assets/images/eye.png" alt="Show password"/>
          <br/>
          <input class="signup-input-field" type="password" id="confirm" name="confirm" placeholder="Confirm">
          <img class="signup-unmask" src="../assets/images/eye.png" alt="Show password"/>
          <br/>
          <input class="signup-submit" type="submit" value="Sign up">
          <img class="signup-submit-arrow" src="../assets/images/next.png" alt=""/>
        </form>
        <a class="signup-link" href="link">Log in</a>
        <a class="signup-link" href="link">Forgot password?</a>  
      </div>
    </div>
  </div>