<!--<form>
    <label for="email"><b>Email</b></label>
    <input type="email" placeholder="Enter Email" name="email" required #l_email>
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required #l_username>
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="At least 6 characters" name="password" required #l_password>
    <label for="confirm"><b>Confirm</b></label>
    <input type="password" placeholder="Confirm Password" name="confirm" required #l_confirm>
</form>
<button (click)="SubmitRegister()">Sign up</button>-->


<h1 style="text-align: center;">Please Fill out All Fields</h1>
<form [formGroup]="registerForm" (ngSubmit)="SubmitRegister()" autocomplete="new-password">
  <h1>Register</h1>
  <div class="form-control">
    <label for="email">Email</label>
    <input
      placeholder="Enter Email"
      formControlName="email"
      id="email"
      type="email"/>
  </div>
  <div class="form-control">
    <label for="userName">User Name</label>
    <input
      placeholder="Enter Username"
      formControlName="userName"
      id="userName"
    type="email"/>
  </div>
  <div class="form-control">
    <label for="password">Password</label>
    <input
      placeholder="At least 6 characters"
      formControlName="password"
      id="password"
      autocomplete="new-password"
      type="password"/>
  </div>
  <div class="form-control">
    <label for="confirmPassword"> Confirm Password</label>
    <input
      placeholder="Confirm Password"
      formControlName="confirmPassword"
      id="confirmPassword"
      autocomplete="new-password"
      type="password"/>
  </div>
  <div class="form-control">
  <button mat-raised-button type="submit">Sign Up</button></div>
  <mat-error>{{errorMsg}}</mat-error>
</form>
<footer style="text-align: center; padding: 20px;">
  <p>&copy; 2024 MatchMakr. All rights reserved.</p>
</footer>
