<div class="forgot-div">
  <img class="forgot-backdrop" src="../assets/images/backdrop.png"/>
  <div class="forgot-logo-div">
      <img class="forgot-logo-img" src="../assets/images/logohd.png"/>
  </div>
  <div class="action-widget">
    <div class="forgot-form-container">
      <p class="forgot-label">Forgot password?</p>
      <br/>
      <p class="forgot-label">Please enter your account email.</p>
      <form>
        <input class="forgot-input-field" type="text" id="email" name="email" placeholder="Email">
        <br/>
        <input class="forgot-submit" type="submit" value="Submit">
        <img class="forgot-submit-arrow" src="../assets/images/next.png" alt=""/>
      </form>
      <a class="forgot-link" href="link">Log in</a>
      <a class="forgot-link" href="link">Sign up</a>  
    </div>
  </div>
</div>
