.navbar-item {
    margin: 5px;
    background-color: slategrey;
    border-radius: 5px;
}
.navbar {
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
}
.navbar-item-text {
    font-size: 18px;
    text-decoration: none;
    color: #FFFFFF;
    margin: 5px;
}

.flexExpand {
  flex: 1 1 auto;
}
.logo-image {
  max-height: 30%;
  max-width: 30%;
  display: block;
}
main{
  margin-top: 1rem;
  width: 100%;
  margin: auto;
}
.greeting {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  position: absolute;
  top: 60px;
  right: 40px;
  margin-top: 20px;
  z-index: 1;
}

