<div class="sidebar-container">
    <div class="sidebar-logo-container">
      <img class="sidebar-logo" src="../assets/images/widelogo.png"/>
    </div>
    <div class="sidebar-options-container">
      <div class="sidebar-current-user">
        <img class="current-user-pfp" src="../assets/images/playerpfp-pg6.png"/>
        <p class="current-user-name">User1234</p>
      </div>
      <button class="sidebar-menu-option">
        <img class="sidebar-menu-option-icon" src="../assets/images/search.png"/>
        <div class="sidebar-menu-option-div">
        </div>
        <p class="sidebar-menu-option-txt">Search</p>
      </button>
      <button class="sidebar-menu-option">
        <img class="sidebar-menu-option-icon" src="../assets/images/games.png"/>
        <div class="sidebar-menu-option-div">
        </div>
        <p class="sidebar-menu-option-txt">Games</p>
      </button>
      <button class="sidebar-menu-option">
        <img class="sidebar-menu-option-icon" src="../assets/images/profile.png"/>
        <div class="sidebar-menu-option-div">
        </div>
        <p class="sidebar-menu-option-txt">Profile</p>
      </button>
      <button class="sidebar-menu-option">
        <img class="sidebar-menu-option-icon" src="../assets/images/settings.png"/>
        <div class="sidebar-menu-option-div">
        </div>
        <p class="sidebar-menu-option-txt">Settings</p>
      </button>
      <button class="sidebar-menu-option">
        <img class="sidebar-menu-option-icon" src="../assets/images/signout.png"/>
        <div class="sidebar-menu-option-div">
        </div>
        <p class="sidebar-menu-option-txt">Sign out</p>
      </button>
    </div>
  </div>