<h1>Behavior Test</h1>
<p >Before you can use MATCHMAKR, please answer these questions so we know you are a real person.</p>
<form (ngSubmit)="submitForm()" #myForm="ngForm">
  <p >Trash talking is just a normal part of gameplay.</p>
  <div *ngFor="let option of options">
    <input type="radio" id="{{ option + '1'}}" name="q1data" [(ngModel)]="formData.q1data" [value]="option" required/>
    <label for="{{ option + '1' }}">{{ option }}</label>
  </div>
  <p >You enjoy learning about new techniques to get a competitive edge over others.</p>
  <div *ngFor="let option of options">
    <input type="radio" id="{{ option + '2' }}" name="q2data" [(ngModel)]="formData.q2data" [value]="option" required/>
    <label for="{{ option + '2' }}">{{ option }}</label>
  </div>
  <p >Seeing other people cry can make you feel like you want to cry too.</p>
  <div *ngFor="let option of options">
    <input type="radio" id="{{ option + '3' }}" name="q3data" [(ngModel)]="formData.q3data" [value]="option" required/>
    <label for="{{ option + '3' }}">{{ option }}</label>
  </div>
  <p >You are more inclined to follow your head than your heart.</p>
  <div *ngFor="let option of options">
    <input type="radio" id="{{ option + '4' }}" name="q4data" [(ngModel)]="formData.q4data" [value]="option" required/>
    <label for="{{ option + '4' }}">{{ option }}</label>
  </div>
  <p >You rarely worry about whether you make a good impression on other players you meet.</p>
  <div *ngFor="let option of options">
    <input type="radio" id="{{ option + '5' }}" name="q5data" [(ngModel)]="formData.q5data" [value]="option" required/>
    <label for="{{ option + '5' }}">{{ option }}</label>
  </div>
  <p >You enjoy participating in group activities that require teamwork.</p>
  <div *ngFor="let option of options">
    <input type="radio" id="{{ option + '6' }}" name="q6data" [(ngModel)]="formData.q6data" [value]="option" required/>
    <label for="{{ option + '6' }}">{{ option }}</label>
  </div>
  <p >You enjoy watching people argue, as long as you're not a part of the argument.</p>
  <div *ngFor="let option of options">
    <input type="radio" id="{{ option + '7' }}" name="q7data" [(ngModel)]="formData.q7data" [value]="option" required/>
    <label for="{{ option + '7' }}">{{ option }}</label>
  </div>
  <p >If a player on your team is playing badly, you give advice and help them get better.</p>
  <div *ngFor="let option of options">
    <input type="radio" id="{{ option + '8' }}" name="q8data" [(ngModel)]="formData.q8data" [value]="option" required/>
    <label for="{{ option + '8' }}">{{ option }}</label>
  </div>
  <p >Mistakes you make bother you because of how other people respond to them.</p>
  <div *ngFor="let option of options">
    <input type="radio" id="{{ option + '9' }}" name="q9data" [(ngModel)]="formData.q9data" [value]="option" required/>
    <label for="{{ option + '9' }}">{{ option }}</label>
  </div>
  <p style="color: red;">{{ errorMsg }}</p>
  <button type="submit">Submit</button>

</form>
