<div class="code-div">
    <img class="code-backdrop" src="../assets/images/backdrop.png"/>
    <div class="code-logo-div">
        <img class="code-logo-img" src="../assets/images/logohd.png"/>
    </div>
    <div class="action-widget">
      <div class="code-form-container">
        <p class="code-label">One more thing...</p>
        <br/>
        <p class="code-label">Please enter the code we sent to:</p>
        <p class="code-label">{{"email@gmail.com"}}</p>
        <form>
          <input class="code-input-field" type="text" inputmode="numeric" pattern="[0-9]*" id="code" name="code" placeholder="0 0 0 0 0 0">
          <br/>
          <input class="code-submit" type="submit" value="Submit">
          <img class="code-submit-arrow" src="../assets/images/next.png" alt=""/>
        </form>
        <a class="code-link" href="link">Resend code</a>
        <a class="code-link" href="link">Log in</a>
        <a class="code-link" href="link">Sign up</a>  
      </div>
    </div>
  </div>