<h1>User</h1>
<p id="error">{{errorMsg}}</p>
<div *ngIf="username">
  <img style="background-color: black;" src="../../../assets/images/profile.png"/>
  <p>{{username}}</p>
  <p>{{online}}</p>
  <h2>{{username}}'s Friends</h2>
  <p>{{friendsMsg}}</p>
  <div *ngFor="let friend of friendsList">
    {{ friend.username }}
  </div>
  <div *ngIf="showAdditional">
    <h2>Personal info.</h2>
    <p>ID: {{id}}</p>
    <p>Email: {{email}}</p>
    <p>{{personality}}</p>
  </div>
</div>


<ng-template #notfound></ng-template>
