<h2 mat-subheader>Currently Online Users Looking For Game</h2>
<mat-form-field appearance="fill">
  <mat-label>Filter Users</mat-label>
  <input type="text" [(ngModel)]="search" matInput placeholder="Filter Users">
</mat-form-field>
<button mat-button color="primary" (click)="this.search.set('')">Reset</button>
<ng-container *ngIf="users | async as users">
  <div class="card-grid">
    <mat-card class="card" *ngFor="let user of users">
      <mat-card-header>
        <mat-card-title class="username">User Name: {{user.userName}}</mat-card-title>
        <div class="logo-container">
          <img src="assets/images/logohd-toolbar.png" alt="logo" class="logo">
        </div>
      </mat-card-header>
      <mat-card-content>Personality Type: {{user.personality}} </mat-card-content>
      <mat-card-footer>
        <button class="grid-button" (click)="addToExistingLobby(user)">Add To My Lobby</button>
        <button class="grid-button">Add Friend</button>
      </mat-card-footer>
    </mat-card>
  </div>
</ng-container>
<ng-template #FailLoad>
  <h1>Users Failed to Load, Please Try Again Later!</h1>
</ng-template>
