<div class="search-container">
  <p class="search-header">Search</p>
  <p class="search-helptext">Search for games to play or other players to add as friends.</p>
  
  <form class="search-flex-style">
    <input class="search-bar" type="text" id="searchquery" name="searchquery" placeholder="What are you looking for?">
    <input type="image" id="submit" class="search-wand" src="../assets/images/search.png" alt="Search">
  </form>

  <!--Insert html/components for game search results, or player serach results, or a specific game-->
</div>