.search-container {
    margin: 30px;
  }
  .search-header {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.3625;
    color: #ffffff;
    font-family: Noto Sans, 'Source Sans Pro';
    white-space: nowrap;
  }
  .search-helptext {
    margin-bottom: 1.2rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.3625;
    color: #ffffff;
    font-family: Noto Sans, 'Source Sans Pro';
    white-space: nowrap;
  }
  .search-flex-style {
    display: flex;
    height: 50px;
  }
  .search-bar {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    border: solid 0.1rem #043f4f;
    background-color: #000000;
    border-radius: 0.3rem;
    color: #ffffff;
  }
  .search-wand {
    width: 5%;
    /*margin is negative to move the wand into the search bar.*/
    margin: 8px 8px 8px -6%;
    height: auto;
    object-fit:contain;
    vertical-align: top;
    flex-shrink: 0;
  }
